body {
    font-family: 'Arial', sans-serif;
    background-color: #d31717;
    background: linear-gradient(to right, #0099ff, #66ccff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

input[type="submit"],
button[type="submit"] {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    opacity: 1;
}